<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sidebar.css">
</head>
<body>
      <div class="sidebar">
    <div class="logo">
      <img src="/images/logo_karaya.jpg" alt="logo_karaya" />
    </div>
    <% if (!isAdmin) { %> <!-- Hanya tampilkan ikon jika bukan admin -->
<div class="icon-group <%= isAdmin ? 'hide' : '' %>">
  <% if (loggedIn) { %>
    <a href="/profile" class="icon"><i class="fas fa-user"></i></a>
    <a href="/home" class="icon"><i class="fas fa-home"></i></a>
    <a href="/kategori" class="icon"><i class="fa fa-compass"></i></a>
    <a href="/upload_portofolio" class="icon"><i class="fas fa-plus"></i></a>
    <a href="/favorit" class="icon"><i class="fa fa-bookmark"></i></a>
    <a href="/kalender" class="icon"><i class="fa fa-calendar"></i></a>
  <% } else { %>
    <a href="/login" class="icon"><i class="fas fa-user"></i></a> <!-- Arahkan ke login -->
    <a href="/home" class="icon"><i class="fas fa-home"></i></a>
    <a href="/kategori" class="icon"><i class="fa fa-compass"></i></a>
    <a href="/favorit" class="icon"><i class="fa fa-bookmark"></i></a>
  <% } %>
  <% } %>
</div>

<div class="spacer"></div>

<div class="bottom-icon">
  <a href="/bantuan" class="icon"><i class="fa fa-info-circle"></i></a>
  <% if (loggedIn) { %>
    <a href="/logout" class="icon"><i class="fas fa-sign-out-alt"></i></a>
  <% } %>
</div>

  </div>

    
</body>
</html>