<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title>Dashboard Admin</title>
</head>
<body>
     <h1>Selamat datang, <%= user.name %></h1> <!--nama pengguna admin tampil-->
    
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="/admin/editKategori">Edit Kategori</a></li>
        <li><a href="/admin/editInfo">Edit Informasi</a></li>
        <li><a href="/admin/categories">Lihat Semua Kategori</a></li>
        <li><a href="/admin/information">Lihat Semua Informasi</a></li>
    </ul>
</body>
</html>